<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
  <table class="table table-striped">
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.375" sdnum="1033;1033;H:MM"><font color="#000000">9:00</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><font color="#000000">Welcome (5 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.381944444444444" sdnum="1033;1033;H:MM"><font color="#000000">9:10</font></td>
		<td align="right" valign=bottom sdval="0.00694444444444444" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:10:00</font></td>
		<td align="left" valign=bottom><font color="#000000">Pre-workshop survey</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.402777777777778" sdnum="1033;1033;H:MM"><font color="#000000">9:40</font></td>
		<td align="right" valign=bottom sdval="0.0208333333333333" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:30:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/markdown-intro/">MarkDown in HackMD</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.40625" sdnum="1033;1033;H:MM"><font color="#000000">9:45</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.434027777777778" sdnum="1033;1033;H:MM"><font color="#000000">10:25</font></td>
		<td align="right" valign=bottom sdval="0.0277777777777778" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:40:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories (40 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.444444444444444" sdnum="1033;1033;H:MM"><font color="#000000">10:40</font></td>
		<td align="right" valign=bottom sdval="0.0104166666666667" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:15:00</font></td>
		<td align="left" valign=bottom bgcolor="#70AD47"><font color="#000000">Break (15 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.479166666666667" sdnum="1033;1033;H:MM"><font color="#000000">11:30</font></td>
		<td align="right" valign=bottom sdval="0.0347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:50:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories (50 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.503472222222222" sdnum="1033;1033;H:MM"><font color="#000000">12:05</font></td>
		<td align="right" valign=bottom sdval="0.0243055555555556" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:35:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters (35 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.53125" sdnum="1033;1033;H:MM"><font color="#000000">12:45</font></td>
		<td align="right" valign=bottom sdval="0.0277777777777778" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:40:00</font></td>
		<td align="left" valign=bottom><font color="#000000">Exercises and Q&amp;A (45 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.572916666666667" sdnum="1033;1033;H:MM"><font color="#000000">13:45</font></td>
		<td align="right" valign=bottom sdval="0.0416666666666667" sdnum="1033;1033;H:MM:SS"><font color="#000000">1:00:00</font></td>
		<td align="left" valign=bottom bgcolor="#70AD47"><font color="#000000">LUNCH</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.607638888888889" sdnum="1033;1033;H:MM"><font color="#000000">14:35</font></td>
		<td align="right" valign=bottom sdval="0.0347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:50:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops (50 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.638888888888889" sdnum="1033;1033;H:MM"><font color="#000000">15:20</font></td>
		<td align="right" valign=bottom sdval="0.03125" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:45:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts (45 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.652777777777778" sdnum="1033;1033;H:MM"><font color="#000000">15:40</font></td>
		<td align="right" valign=bottom sdval="0.0138888888888889" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:20:00</font></td>
		<td align="left" valign=bottom bgcolor="#70AD47"><font color="#000000">Break (20 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.684027777777778" sdnum="1033;1033;H:MM"><font color="#000000">16:25</font></td>
		<td align="right" valign=bottom sdval="0.03125" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:45:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things (45 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.684027777777778" sdnum="1033;1033;H:MM"><font color="#000000">16:25</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000">Finish</font></td>
	</tr>
</table>
</div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
  	<tr>
		<td height="20" align="right" valign=bottom sdval="0.375" sdnum="1033;1033;H:MM"><font color="#000000">9:00</font></td>
		<td align="right" valign=bottom sdval="0.0104166666666667" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:15:00</font></td>
		<td align="left" valign=bottom><font color="#000000">Introduction (15 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.385416666666667" sdnum="1033;1033;H:MM"><font color="#000000">9:15</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/01-basics/index.html">Automated Version Control (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.388888888888889" sdnum="1033;1033;H:MM"><font color="#000000">9:20</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/02-setup/index.html">Setting up Git (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.392361111111111" sdnum="1033;1033;H:MM"><font color="#000000">9:25</font></td>
		<td align="right" valign=bottom sdval="0.00694444444444444" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:10:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/03-create/index.html">Creating a Repository (10 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.399305555555556" sdnum="1033;1033;H:MM"><font color="#000000">9:35</font></td>
		<td align="right" valign=bottom sdval="0.0138888888888889" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:20:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/04-changes/index.html">Tracking Changes (20 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.413194444444444" sdnum="1033;1033;H:MM"><font color="#000000">9:55</font></td>
		<td align="right" valign=bottom sdval="0.0173611111111111" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:25:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/05-history/index.html">Exploring History (25 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.430555555555556" sdnum="1033;1033;H:MM"><font color="#000000">10:20</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/06-ignore/index.html">Ignoring Things (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.434027777777778" sdnum="1033;1033;H:MM"><font color="#000000">10:25</font></td>
		<td align="right" valign=bottom sdval="0.0208333333333333" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:30:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub (30 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.454861111111111" sdnum="1033;1033;H:MM"><font color="#000000">10:55</font></td>
		<td align="right" valign=bottom sdval="0.0104166666666667" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:15:00</font></td>
		<td align="left" valign=bottom bgcolor="#70AD47"><font color="#000000">Break (20 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.465277777777778" sdnum="1033;1033;H:MM"><font color="#000000">11:10</font></td>
		<td align="right" valign=bottom sdval="0.0173611111111111" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:25:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/08-collab/index.html">Collaborating (25 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.482638888888889" sdnum="1033;1033;H:MM"><font color="#000000">11:35</font></td>
		<td align="right" valign=bottom sdval="0.0104166666666667" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:15:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/09-conflict/index.html">Conflicts (15 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.493055555555556" sdnum="1033;1033;H:MM"><font color="#000000">11:50</font></td>
		<td align="right" valign=bottom sdval="0.00694444444444444" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:10:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/10-open/index.html">Open Science (10 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.5" sdnum="1033;1033;H:MM"><font color="#000000">12:00</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/11-licensing/index.html">Licensing (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.503472222222222" sdnum="1033;1033;H:MM"><font color="#000000">12:05</font></td>
		<td align="right" valign=bottom sdval="0.00347222222222222" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:05:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/12-citation/index.html">Citation (5 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.506944444444444" sdnum="1033;1033;H:MM"><font color="#000000">12:10</font></td>
		<td align="right" valign=bottom sdval="0.00694444444444444" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:10:00</font></td>
		<td align="left" valign=bottom><u><font color="#0563C1"><a href="https://nclrse-training.github.io/git-novice/13-hosting/index.html">Hosting (10 minutes)</a></font></u></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.513888888888889" sdnum="1033;1033;H:MM"><font color="#000000">12:20</font></td>
		<td align="right" valign=bottom sdval="0.00694444444444444" sdnum="1033;1033;H:MM:SS"><font color="#000000">0:10:00</font></td>
		<td align="left" valign=bottom><font color="#000000">Exercises and Q&amp;A (10 minutes)</font></td>
	</tr>
	<tr>
		<td height="20" align="right" valign=bottom sdval="0.520833333333333" sdnum="1033;1033;H:MM"><font color="#000000">12:30</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000">Finish</font></td>
	</tr>
	</table>
</div>
<div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://nclrse-training.github.io/python-novice/">Programming in Python (Part 1)</a></td></tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Programming in Python (Part 2)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Programming in Python (Part 3)</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>Programming in Python (Part 4)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:10</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td></tr>
      <tr> <td>16:20</td>  <td>END</td> </tr>
    </table>
  </div>
  </div>
